:root {
	--background-gradient: linear-gradient(-45deg, #0F172A, #0D192F, #0C1B34, #0A1D38, #081F3D, #072042, #052247, #03244B, #022650, #002855);
	--text-color-1000: rgba(255, 255, 255, 1);
	--text-color-950: rgba(255, 255, 255, 0.95);
	--text-color-900: rgba(255, 255, 255, 0.9);
	--text-color-800: rgba(255, 255, 255, 0.8);
	--text-color-700: rgba(255, 255, 255, 0.7);
	--text-color-600: rgba(255, 255, 255, 0.6);
	--text-color-500: rgba(255, 255, 255, 0.5);
	--text-highlight-color: #0CCA4A;

	--heading-size-1: 2.986rem;
	--heading-size-2: 2.488rem;
	--heading-size-3: 2.074rem;
	--heading-size-4: 1.728rem;
	--heading-size-5: 1.44rem;
	--heading-size-6: 1.2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

.s1, h1 {
	font-size: 2.986rem;
}

.s2, h2 {
	font-size: 2.488rem;
}

.s3, h3 {
	font-size: 2.074rem;
}

.s4, h4 {
	font-size: 1.44rem
}

.s5, h5 {
	font-size: 1.728rem
}

.s6, h6 {
	font-size: 1.2rem
}