body {
	width: 100dvw;
	height: 100dvh;

	background-image: var(--background-gradient);
	background-repeat: no-repeat;
	background-attachment: fixed; 

	font-family: "Inter", sans-serif;
	color: var(--text-color-950);

	line-height: 1.5;
}

.responsive-container {
	min-height: 100dvh;
	width: 900px;
	margin: 0 auto;
}

.below-navbar-spacer {
	height: 3rem;
	display: none;
}

.section-container {
	/* border: 1px solid red; */
	margin: 2rem 0;
}

.highlight-bold {
	font-weight: 600;
}

.section-heading {
	font-weight: 700;
	font-size: 1.5rem;
}

.achievements-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.achievement-link {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
	gap: 0.2rem;

	text-decoration: underline;
}

.achievement-link:hover {
	color: var(--text-highlight-color);
	text-decoration: underline;
}

/* Media queries */
@media (max-width: 920px) {
	.responsive-container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.responsive-container {
		width: 90dvw;;
	}

}

@media (min-width: 500px) {
	.below-navbar-spacer {
		display: block;
	}
}